# Auto-dump ENV from system call on 17:08:47 GMT+0000 (Coordinated Universal Time)
LLM_PROVIDER='ollama'
OLLAMA_BASE_PATH='http://host.docker.internal:11434'
OLLAMA_MODEL_PREF='gemma4:e2b '
JWT_SECRET='your-random-secret-key-here'
DISABLE_TELEMETRY='true'
AGENT_SEARXNG_API_URL='http://searxng:8080'
STORAGE_DIR='/app/server/storage'
SERVER_PORT='3001'
SIG_KEY='94bec40010cd5bbaa12984281155cbb0800341b02c6b0bdfab02bc48e58d008f'
SIG_SALT='0781b48f95a2d82828e0f30808c9c9a7193d1db7fa89a3493f6ecfb6443e1b1b'